<br>
<div>
    <h1 class="text-center" style="color: rgb(0, 118, 0);">{{aim}}</h1>
</div>

<!-- login form - accon no., passwrd and login button -->

<div class="container w-50 border mt-3 p-5"
    style="border-radius:20px; background:rgba(25, 101, 86, 0.5)">
    <h1 class="text-center mt-2">User Login</h1>
    <form (ngSubmit)="login()" [formGroup]="loginForm">

        <label style="font-size: 20px;" class="text-dark mt-2 p-2" for="acn">Enter Account number</label>
        <input name="acno" id="acid" formControlName="acno" type="text" [placeholder]="data1" class="form-control p-2">
                    <!-- to display error message - for invalid details -->
<div *ngIf="this.loginForm.get('acno')?.errors && this.loginForm.get('acno')?.touched">
            <p class="text-danger">incorrect acno</p>
        </div>


        <label style="font-size: 20px;" class="text-dark mt-2 p-2" for="pwd">Enter Password</label>
        <input name="acno" id="acid" formControlName="psw" type="password" [placeholder]="data2" class="form-control p-2">
        
                <!-- to display error message - for invalid details -->
<div *ngIf="this.loginForm.get('psw')?.errors && this.loginForm.get('psw')?.touched">
            <p class="text-danger">incorrect password</p>
        </div>

        <div class="mt-2 p-2 text-center"><button type="submit" style="font-size: 20px;" class="btn btn-light text-dark border border-dark" >Login</button></div>

        <div class="mt-2 p-2 text-center text-dark">
            <p class="text-white">New User?<a routerLink="register">Register Here</a></p>
        </div>

    </form>
</div>